<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: common-header" />

<body>
  <div th:replace="common/header :: navbar"> </div>

  <div class="container">
  		<div class="row" style="margin-bottm: -100px;">
  			<div class="col-xs-8"> </div>
  				
  			<div class="col-xs-3">
  				<img src="/image/logo.png" class="img-responsive" /> <!--  tu trzeba dać logo -->
  				<h2 class="section-headline">
  					<span>User Account</span>
  				</h2> 
  			</div>
  			<hr style ="position:absolute; width:100%; background-color: #333; z-index:-2; margin-top: -100px;"/>
  			
  			<img class="img-responsive" src="/image/panel.png" style="margin-top: -100px"/> <!--  tu trzeba dać obraz do panelu -->
  			
  			<div class="row"  style="margin-top: 60px;"> 
  				<div class="col-xs-9 col-xs-offset-3:">
  				
  					<!-- Navigation bar -->
  					<ul class="nav nav-tabs">
  						<li th:classappend="${classActiveNewAccount}? 'active'"><a href="#tab-1" data-toggle="tab"><span style="color:#241f20;"> Stwórz nowe konto</span></a></li>
  						<li th:classappend="${classActiveLogin}? 'active'"><a href="#tab-2" data-toggle="tab"><span style="color:#241f20;"> Zaloguj się</span></a></li>
  						<li th:classappend="${classActiveForgetPassword}? 'active'"><a href="#tab-3" data-toggle="tab"><span style="color:#241f20;"> Zapmniałem/-am hasła</span></a></li>
  					</ul>
  					
  					<!-- Tab panels -->
  					<div class="tab-content">
  					
  					<!-- create new user panel -->
  						<div id="tab-1" class="tab-pane fade" th:classappend="${classActiveNewAccount}? 'active in'">
  							<div class="panel-group">
  								<div class="panel panel-default" style="border:none;">
  									<div class="panel-body" style="background-color:#241f20; margin-top:20px;">
  									<div class="alert alert-info" th:if="${emailSent}">
  									Email został wysłany.
  									</div>
  										<form th:action="@{/newUser}" method="post">
  											<div class="form-group">
  												<label for="newUsername"><p style="color:#ffffff">* Nazwa użytkownika:</p> </label>&nbsp;<span style= "color:#ffffff;" th:if="${usernameExists}"> Nazwa użytkownika jest już zajęta.</span>
  												<input required="required" type="text" class="form-control" id="newUsername" name="username" />
  												<p style="color:#ffffff">Wpisz nazwę użytkownika tutaj.</p>	
  											</div>
  											
  											<div class="form-group">
  												<label for="email"><p style="color:#ffffff">* Adres e-mail:</p></label><span style= "color:black;" th:if="${emailExists}"> Adres email jest już zarejestrowany.</span>
  												<input required="required" type="text" class="form-control" id="email" name="email" />
  												<p style="color:#ffffff">Wpisz adres e-mail tutaj.</p>	
  											</div>
  											
  											<button type="submit" class="btn btn-primary"><p style="color:#000000"> Stwórz nowe konto</p></button>
  										</form>
  									</div>
  								</div>
  							</div>
  						</div>
  						
  						<!-- log-in panel -->
  						<div id="tab-2" class="tab-pane fade" th:classappend="${classActiveLogin}? 'active in'">
  							<div class="panel-group">
  								<div class="panel panel-default" style="border:none;">
  									<div class="panel-body" style="background-color:#241f20; margin-top:20px;">
  									<div th:if="${param.error != null}" style="color:#ffffff;"> Niepoprawna nazwa użytkownika lub hasło </div>
  										<form th:action="@{/login}" method="post">
  											<div class="form-group">
  												<label for="newUsername"><p style="color:#ffffff">* Nazwa użytkownika:</p></label>
  												<input required="required" type="text" class="form-control" 
  												id="newUsername" name="username" />
  												<p style="color:#ffffff">Wpisz nazwę użytkownika tutaj.</p>	
  											</div>
  											
  											<div class="form-group">
  												<label for="password"><p style="color:#ffffff">* Hasło:</p></label>
  												<input required="required" type="text" class="form-control" 
  												id="password" name="password" />
  												<p style="color:#ffffff">Wprowadź hasło.</p>	
  											</div>
  											
  											<button type="submit" class="btn btn-primary"> Zaloguj się</button>
  										</form>
  									</div>
  								</div>
  							</div>
  						</div>
  						
  						<!-- forgotten password panel -->
  						<div id="tab-3" class="tab-pane fade" th:classappend="${classActiveForgetPassword}? 'active in'">
  							<div class="panel-group">
  								<div class="panel panel-default" style="border:none;">
  									<div class="panel-body" style="background-color:#241f20; margin-top:20px;">
  									<div th:if="${emailNotExists}" class="alert alert-danger">Adres email nie został zarejestrowany.</div>
  									<div th:if="${forgetPasswordEmailSent}" class="alert alert-success">Email z nowym hasłem został wysłany.</div>
  										<form th:action="@{/forgetPassword}" method="post">											
  											<div class="form-group">
  												<label for="recoverEmail"><p style="color:#ffffff">* Twój adres e-mail:</p></label>
  												<input required="required" type="text" class="form-control" id="recoverEmail" name="email" />
  												<p style="color:#ffffff">Wpisz adres e-mail, na które wyślemy nowe hasło tutaj.</p>	
  											</div>
  											
  											<button type="submit" class="btn btn-primary"> Potwierdź</button>
  										</form>
  									</div>
  								</div>
  							</div>
  						</div>
  						
  						<!-- end of panels -->
  						
  					</div>
  				</div>


  			</div>
  		</div>
  	</div>
  <!-- end of container -->



  <!-- Bootstrap core JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  		
  <!-- Placed at the end of the document so the pages load faster -->
<div th:fragment="body-bottom-scripts"></div>
</body>

</html>