<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: common-header" />

<body>
  <div th:replace="common/header :: navbar"> </div>

  <div class="container">
  		<div class="row" style="margin-bottm: -100px;">
  			<div class="col-xs-8"> </div>
  				<h2 class="section-headline">
  					<h2 class="section-headline"><span th:text="${#strings.toUpperCase(user.username)}"></span></h2>
  				</h2>
  			<div class="col-xs-8"> </div>
  				
  			<div align="right">
  				<img src="/image/logo.png" class="img-responsive" width="13%" height="13%" align="right"/> <!--  tu trzeba dać logo -->
  			</div>
  			<hr style ="position:absolute; width:100%; background-color: #333; z-index:-1; margin-top: -10px;"/>
  	
  			<img class="img-responsive" src="/image/panel.png" style="margin-top: 20px"/>
  			
  			<div class="row"  style="margin-top: 60px;"> 
  				<div class="col-xs-9 col-xs-offset-3:">
  				
  					<!-- Navigation bar -->
  					<ul class="nav nav-tabs">
  						<li th:classappend="${classActiveEdit}? 'active'"><a href="#tab-1" data-toggle="tab"><span style="color:red;"> Edytuj dane</span></a></li>
  						<li th:classappend="${classActiveOrders}? 'active'"><a href="#tab-2" data-toggle="tab"><span style="color:red;"> Zamówienia</span></a></li>
  						<li th:classappend="${classActiveBilling}? 'active'"><a href="#tab-3" data-toggle="tab"><span style="color:red;"> Karty płatnicze</span></a></li>
  						<li th:classappend="${classActiveShipping}? 'active'"><a href="#tab-4" data-toggle="tab"><span style="color:red;"> Adres dostawy</span></a></li>
  					</ul>
  					
  					<!-- Tab panels -->
  					<div class="tab-content">
  					
  					<!-- edit user data -->
  						<div id="tab-1" class="tab-pane fade" th:classappend="${classActiveEdit}? 'active in'">
  							<div class="panel-group">
  								<div class="panel panel-default" style="border:none;">
  									<div class="panel-body" style="background-color:#ededed; margin-top:20px;">
  										<form th:action="@{/updateUserInfo}" method="post">
  											<input type="hidden" name="id" th:value="${user.id}" />
  											
  											<div class="bg-info" th:if="${updateUserInfo}">Dane użytkownika zaktualizowane.</div>
  											
  											<div class="form-group">
  												<div class="row">
  													<div class="col-xs-6">
  														<label for="firstName"> Imię</label>
  														<input type="text" class="form-control" id="firstName" 
  																name="firstName" th:value="${user.firstName}" />
  													</div>
  													<div class="col-xs-6">
  														<label for="lastName"> Nazwisko</label>
  														<input type="text" class="form-control" id="lastName" 
  																name="lastName" th:value="${user.lastName}" />
  													</div>
  												</div>
  											</div>
  											
  											<div class="form-group">
  												<label for="username"> Nazwa użytkownika</label>
  												<input type="text" class="form-control" id="username" 
  														name="username" th:value="${user.username}" />
  											
  											</div>
  											<div class="form-group">
  												<label for="currentPassword"> Obecne hasło</label>
  												<input type="text" class="form-control" id="currentPassword" 
  														name="currentPassword" th:value="${currentPassword}" />
  											
  											</div>
  											<p style="color:#828282"> Wprowadź swoje obecne hasło żeby zmienić hasło lub email.</p>
  											
  											<div class="form-group">
  												<label for="email">* Adres email</label>
  												<input type="text" class="form-control" id="email" 
  														name="email" th:value="${user.email}" />
  											
  											</div>
  											<p style="color:#828282"> Wprowadź adres email.</p>
  											
  											<div class="form-group">
  												<label for="txtNewPassword">* Nowe hasło</label>
  												<input type="password" class="form-control" id="txtNewPassword" 
  														name="newPassword" />
  											
  											</div>
  											<p style="color:#828282"> Żeby zmienić hasło wpisz nowe hasło.</p>
  											
  											<div class="form-group">
  												<label for="txtNewPassword">* Powtórz nowe hasło</label>
  												<input type="password" class="form-control" id="txtConfirmPassword" 
  														/>
  											
  											</div>
  											<p style="color:#828282"> Potwierdź hasło.</p>
  											
  											<button type="submit" class="btn btn-primary"> Zapisz zmiany</button>
  										</form>
  									</div>
  								</div>
  							</div>
  						</div>
  						
  						<!-- Order Information -->
					<div class="tab-pane fade" id="tab-2"
						th:classappend="${classActiveOrder}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;"></div>
							</div>
						</div>
					</div>

					<!-- Billing Information -->
					<div class="tab-pane fade" id="tab-3"
						th:classappend="${classActiveBilling}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									<ol class="breadcrumb">
										<li class="breadcrumb-item active"><a
											th:href="@{/listOfCreditCards}"
											th:style="${listOfCreditCards}? 'color:red'">Twoje karty płatnicze</a></li>
										<li class="breadcrumb-item active"><a
											th:href="@{/addNewCreditCard}"
											th:style="${addNewCreditCard}? 'color:red'">Dodaj (Zaktualizuj)
												kartę płatniczą</a></li>
									</ol>

									<div th:if="${listOfCreditCards}">
										<form th:action="@{/setDefaultPayment}" method="post">
											<table class="table">
												<thead>
													<tr>
														<th>Domyślna</th>
														<th>Nazwa karty</th>
														<th>Operacje</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="userPayment : ${userPaymentList}">
														<td><input type="radio" name="defaultUserPaymentId"
															th:value="${userPayment.id}"
															th:checked="${userPayment.defaultPayment}" /></td>
														<td th:text="${userPayment.cardName}"></td>
														<td><a
															th:href="@{/updateCreditCard(id=${userPayment.id})}"><i
																class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a
															th:href="@{/removeCreditCard(id=${userPayment.id})}"><i
																class="fa fa-times"></i></a></td>
													</tr>
												</tbody>
											</table>
											<button class="btn btn-primary" type="submit">Zapisz</button>
										</form>
									</div>

									<div th:if="${addNewCreditCard}">
										<form th:action="@{/addNewCreditCard}" method="post">
											<div class="bg-info" th:if="${updateUserPaymentInfo}">Dane użytkownika zaktualizowane.</div>

											<input hidden="hidden" name="id" th:value="${userPayment.id}" />

											<div class="form-group">
												<h5>* Nazwa Twojej karty płatniczej:</h5>
												<input type="text" class="form-control" id="cardName"
													placeholder="np. Karta Visa Santander Janka" th:name="cardName"
													required="required" th:value="${userPayment.cardName}" />
											</div>

											<!-- Billing Address -->
											<hr />
											<div class="form-group">
												<h4>Adres rozliczeniowy</h4>
											</div>
											<div class="form-group">
												<label for="billingName">* Imię i nazwisko</label> <input type="text"
													class="form-control" id="billingName"
													placeholder="np. Jan Kowalski" th:name="userBillingName"
													required="required"
													th:value="${userBilling.userBillingName}" />
											</div>
											<div class="form-group">
												<label for="billingAddress">* Adres</label> <input
													type="text" class="form-control" id="billingAddress"
													placeholder="np. Kowaliowa 17/3" th:name="userBillingStreet1"
													required="required"
													th:value="${userBilling.userBillingStreet1}" /> <input
													type="text" class="form-control" id="billingAddress"
													placeholder="dalsza cześć adresu" th:name="userBillingStreet2"
													th:value="${userBilling.userBillingStreet2}" />
											</div>

											<div class="row">
												<div class="col-xs-4">
													<div class="form-group">
														<label for="billingCity">* Miasto</label> <input type="text"
															class="form-control" id="billingCity"
															placeholder="np. Poznań" th:name="userBillingCity"
															required="required"
															th:value="${userBilling.userBillingCity}" />
													</div>
												</div>
<!-- 												<div class="col-xs-4">
													<div class="form-group">
														<label for="billingState">* State</label> <select
															id="billingState" class="form-control"
															th:name="userBillingState"
															th:value="${userBilling.userBillingState}"
															required="required">
															<option value="" disabled="disabled">Please
																select an option</option>
															<option th:each="state : ${stateList}" th:text="${state}"
																th:selected="(${userBilling.userBillingState}==${state})"></option>
														</select>
													</div>
												</div> -->
												<div class="col-xs-4">
													<div class="form-group">
														<label for="billingZipcode">* Kod pocztowy</label> <input
															type="text" class="form-control" id="billingZipcode"
															placeholder="np. 62-344"
															th:name="userBillingZipcode" required="required"
															th:value="${userBilling.userBillingZipcode}" />
													</div>
												</div>
											</div>

											<!-- Credit Card Information -->
											<hr />
											<div class="form-group">
												<h4>Dane karty płatniczej</h4>
											</div>
											<div class="row">
												<div class="col-xs-12">
													<img src="/image/creditcard.png" class="img-responsive" height="30%" width="30%" /><br />
													<div class="form-group">
														<label for="cardType">* Wybierz rodzaj karty:</label> <select
															class="form-control" id="cardType" th:name="type"
															th:value="${userPayment.type}">
															<option value="visa">Visa</option>
															<option value="mastercard">Mastercard</option>
															<option value="discover">Discover</option>
															<option value="amex">American Express</option>
														</select>
													</div>
													<div class="form-group">
														<label for="cardHolder">* Imię i nazwisko posiadacza karty:</label> <input
															type="text" class="form-control" id="cardHolder"
															required="required" placeHolder="np. Jan Kowalski"
															th:name="holderName" th:value="${userPayment.holderName}" />
													</div>
													<div class="form-group">
														<label for="cardNumber">* Numer karty:</label>
														<div class="input-group">
															<input type="tel" class="form-control" id="cardNumber"
																required="required" placeHolder="np. 3421 5864 3676 3096"
																th:name="cardNumber"
																th:value="${userPayment.cardNumber}" /> <span
																class="input-group-addon"><i
																class="fa fa-credit-card" aria-hidden="true"></i></span>
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-xs-7">
													<div class="form-group">
														<label>* Data ważności karty</label>
														<div class="row">
															<div class="col-xs-6">
																<select class="form-control" name="expiryMonth"
																	required="required"
																	th:value="${userPayment.expiryMonth}">
																	<option disabled="disabled">-- Miesiąc --</option>
																	<option value="01">01</option>
																	<option value="02">02</option>
																	<option value="03">03</option>
																	<option value="04">04</option>
																	<option value="05">05</option>
																	<option value="06">06</option>
																	<option value="07">07</option>
																	<option value="08">08</option>
																	<option value="09">09</option>
																	<option value="10">10</option>
																	<option value="11">11</option>
																	<option value="12">12</option>
																</select>
															</div>
															
															<div class="col-xs-6">
																<select class="form-control" name="expiryYear"
																	th:value="${userPayment.expiryYear}">

																	<option value="19">19</option>
																	<option value="20">20</option>
																	<option value="21">21</option>
																	<option value="22">22</option>
																	<option value="23">23</option>
																	<option value="24">24</option>
																	<option value="25">25</option>
																	<option value="26">26</option>
																	<option value="27">27</option>
																	<option value="28">28</option>
																	<option value="29">29</option>
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xs-5">
													<div class="form-group">
														<label for="cardCVC">CVC</label> <input id="cardCVC"
															type="tel" class="form-control" name="cvc"
															placeholder="np. 444" th:name="cvc"
															th:value="${userPayment.cvc}" />
													</div>
												</div>
											</div>
											<hr />
											<button type="submit" class="btn btn-primary btn-lg">Zapisz zmiany</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Shipping Information -->
					<div class="tab-pane fade" id="tab-4"
						th:classappend="${classActiveShipping}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">

									<ol class="breadcrumb">
										<li class="breadcrumb-item active"><a
											th:href="@{/listOfShippingAddresses}"
											th:style="${listOfShippingAddresses}? 'color:red'">Lista
												Twoich adresów dostawy</a></li>
										<li class="breadcrumb-item active"><a
											th:href="@{/addNewShippingAddress}"
											th:style="${addNewShippingAddress}? 'color:red'"> Dodaj (Zaktualizuj)
												adres dostawy</a></li>
									</ol>

									<div th:if="${listOfShippingAddresses}">
										<form th:action="@{/setDefaultShippingAddress}" method="post">
											<table class="table">
												<thead>
													<tr>
														<th>Domyślny</th>
														<th>Adres dostawy</th>
														<th>Operacje</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="userShipping : ${userShippingList}">
														<td><input type="radio" name="defaultShippingAddressId"
															th:value="${userShipping.id}"
															th:checked="${userShipping.userShippingDefault}" /><span></span></td>
														<td th:text="${userShipping.userShippingStreet1}+', '+
														${userShipping.userShippingCity}+', '+${userShipping.userShippingState}"></td>
														<td><a
															th:href="@{/updateUserShipping(id=${userShipping.id})}"><i
																class="fa fa-pencil"></i></a>&nbsp;&nbsp;<a
															th:href="@{/removeUserShipping(id=${userShipping.id})}"><i
																class="fa fa-times"></i></a></td>
													</tr>
												</tbody>
											</table>
											<button class="btn btn-primary" type="submit">Zapisz</button>
										</form>
									</div>

									<div th:if="${addNewShippingAddress}">
										<form th:action="@{/addNewShippingAddress}" method="post">
											<div class="bg-info" th:if="${updateUserShippingInfo}">Dane użytkownika zaktulizowane.</div>

											<input hidden="hidden" name="id" th:value="${userShipping.id}" />

											<!-- Shipping Address -->
											<hr />
											<div class="form-group">
												<h4>Adres dostawy</h4>
											</div>
											<div class="form-group">
												<label for="shippingName">* Imię i nazwisko</label> <input type="text"
													class="form-control" id="shippingName"
													placeholder="np. Jan Kowalski" th:name="userShippingName"
													required="required"
													th:value="${userShipping.userShippingName}" />
											</div>
											<div class="form-group">
												<label for="shippingAddress">* Adres</label> <input
													type="text" class="form-control" id="shippingAddress"
													placeholder="np. Kowaliowa 17/7" th:name="userShippingStreet1"
													required="required"
													th:value="${userShipping.userShippingStreet1}" /> <input
													type="text" class="form-control"
													placeholder="dalsza część adresu" th:name="userShppingStreet2"
													th:value="${userShipping.userShippingStreet2}" />
											</div>

											<div class="row">
												<div class="col-xs-4">
													<div class="form-group">
														<label for="shippingCity">* Miasto</label> <input type="text"
															class="form-control" id="shippingCity"
															placeholder="np. Poznań" th:name="userShippingCity"
															required="required"
															th:value="${userShipping.userShippingCity}" />
													</div>
												</div>
<!-- 												<div class="col-xs-4">
													<div class="form-group">
														<label for="shippingState">* State</label> <select
															id="shippingState" class="form-control"
															th:name="userShippingState"
															th:value="${userShipping.userShippingState}"
															required="required">
															<option value="" disabled="disabled">Please
																select an option</option>
															<option th:each="state : ${stateList}" th:text="${state}"
																th:selected="(${userShipping.userShippingState}==${state})"></option>
														</select>
													</div>
												</div> -->
												<div class="col-xs-4">
													<div class="form-group">
														<label for="shippingZipcode">* Kod pocztowy</label> <input
															type="text" class="form-control" id="shippingZipcode"
															placeholder="np. 60-345"
															th:name="userShippingZipcode" required="required"
															th:value="${userShipping.userShippingZipcode}" />
													</div>
												</div>
											</div>

											<hr />
											<button type="submit" class="btn btn-primary btn-lg">Zapisz zmiany</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
  						
  						
  						<!-- end of panels -->

  			</div>
  		</div>
  	</div>
  <!-- end of container -->



  <!-- Bootstrap core JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  		
  <!-- Placed at the end of the document so the pages load faster -->
<div th:fragment="body-bottom-scripts"></div>
</body>

</html>